doctype html
html
    head
        <script src="https://kit.fontawesome.com/4324499101.js"></script>
        title #{pageTitle} | #{siteName}
    body
        include ../partials/header
        main
            block content
        footer
            include ../partials/footer