doctype html
html
    head
        <script src="https://kit.fontawesome.com/4324499101.js"></script>
        title | Webtube
    body
        header
            h1 WebTube
        main
            block content
        footer
            span &copy; Webtube