.videoBlock {
  margin: 10px 10px;
  display: flex;
  video {
    margin-bottom: 10px;
    width: 200px;
    height: 117px;
    background-color: black;
  }
  .videoBlock__title {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 10px;
  }
}
